.list {
  list-style: none;
  padding: 0 0;
  margin: 0 0;

  &--files {
    @extend .list;
  }

  &--nested {
    @extend .list;
    margin-left: $icon--md + $gutter--sm;
  }

  &--images {
    @extend .list;

    display: flex;
    flex-wrap: wrap;
    margin: $gutter--sm * -1;
    align-items: flex-start;

    .list__item--images {
      max-width: 250px;
      border: 1px solid lightgrey;
      padding: $gutter--sm;
      margin: $gutter--sm $gutter--sm;
    }
  }

  &__item {

    
    &--file {
      font-weight: bold;
      padding: $gutter--sm $gutter--sm/2;
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgrey;

      &:before {
        content: "";
        @extend .icon--folder;
        margin-right: $gutter--sm;
      }
    }
    &--parent-link {
      @extend .list__item--file;

      &:before {
        @extend .icon--parent-link;
      }
    }

    &--open {
      @extend .list__item--file;
      border-color: white;

      &:before {
        @extend .icon--folder-file;
      }
    }

    &--content {
      padding: $gutter--sm $gutter--sm/2 $gutter--md $icon--md + $gutter--sm;
      border-bottom: 1px solid lightgrey;
    }
  }
}
