.list {
    &--split {
        @extend .list;
        display: flex;
        flex-wrap: nowrap;
        margin: $gutter--md*-1;
        .list__item {
            flex: 0 1 50%;
            height: auto;
            padding: $gutter--md;
        }
    }

    &--grid {
        @extend .list;
        display: flex;
        flex-wrap: wrap;
        margin: $gutter--md*-1;
        .list__item {
            flex-basis: calc(25% - #{$gutter--md*2});
            height: auto;
            padding: $gutter--md;
        }
    }
}